body {
    font-family: Arial;
    background: #202020;
    color: white;
    text-align: center;
    padding: 40px;
}

input {
    padding: 10px;
    width: 280px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    background: #ff4444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #ff2222;
}

.warn {
    color: yellow;
    font-size: 18px;
}
